Query the database for all dogs that are flagged as lost
Add them to an array
Query the user database to get their zip, add that to the array
Display it to handlebars

<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row">
                {{#each lostDogArray}}
                <div class="card mt-4 col-6 float-left">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    <strong>Dog:</strong> {{this.name}}
                                </p>
                                <p>
                                    <strong>Breed:</strong> {{this.breed}}
                                </p>
                                <p>
                                    <strong>Gender:</strong> {{this.gender}}
                                </p>
                                <p>
                                    <strong>Note:</strong> {{this.note}}
                                </p>
                                {{cloudinaryIMG this.picture width=150 height=150}}
                            </div>
                            <div class="col-6">
                                <p class="mt-5">
                                    {{!-- This redirects to updateDog/Dog's ID which we then use so the user can edit
                                    the dog's profile --}}
                                    {{#if ../userProfile.isCurrentUser}}
                                    <a href="/dog/{{this.id}}">Update the Doggo</a>
                                    {{/if}}
                                    <br>
                                    <a href="/">← Back To Home</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>