<style>
    .container-fluid {
        background-color: rgb(241, 241, 241);
        margin: auto;
        padding-top: 5em;
        padding: 5em;
    }
    #dog {
        color: rgb(2, 2, 117);
        align-content: center;
        font-size: 7em;
        font-family: 'Fredoka One', cursive;
        text-shadow: 5px 2px rgb(149, 181, 240);
    }
    #profile {
        border: 10px solid rgb(148, 83, 83);
        padding: 5px;
        margin: 20px 10px 20px 10px;
        box-shadow: 0 0 2em rgb(85, 148, 206);

    }

    .card-title {
        font-family: monospace;
        font-weight: 800;
        font-size: 4em;
    }
    .card-text {
        font-size: 2em;
}

    #navbar {
        background-color: rgb(188, 119, 115);

    }

</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <div id="dog">Dogs</div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            <div id="plus"><a href="/createdog"><button class="fas fa-plus-circle fa-3x"></button></a>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        {{#each userDogsArray}}
        <div class="col-sm-12">
            <div class="card text-center">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4.5">
            <div id="profile" class="card-header">
                {{cloudinaryIMG this.picture width=250 height=250}}
            </div>
        </div>
        <div class="col-sm-2.5">
        </div>

        <div class="col-sm-5">
            <div class="card-body">
                <h3 class="card-title"> {{this.name}} </h3>
                <p class="card-text"><i class="fas fa-dog fa-5px"> {{this.breed}} </i> </p>
                <p class="card-text"><i class="fas fa-circle fa-5px"> {{this.gender}} </i> </p>
                <p class="card-text"><i class="fas fa-sticky-note fa-5px"> {{this.note}} </i> </p>
                <a href="/api/dog" class="btn btn-dark">Go to Page</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="mt-5 text-right">
                {{#if ../userProfile.isCurrentUser}}
                <a href="/dog/{{this.id}}" class="btn btn-info btn-lg"><i class="fas fa-cog fa-7px"></i></a>
                {{/if}}
                <br>
            </p>
        </div>
        {{/each}}
        <br>
    </div>

</div>
</div>
</div>
</div>
<footer class="page-footer font-small blue fixed-bottom scrolling-footer" id="navbar">

    <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
            <a href="/createdog" class="btn-lg btn-paw mx-1" type="button" role="button">
                <i class="fas fa-paw"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/posts" class="btn-floating btn-lg btn-pen mx-1" type="button" role="button">
                <i class="fas fa-pen-fancy"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="allPosts" class="btn-floating btn-lg btn-bone mx-1" type="button" role="button">
                <i class="fas fa-bone"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a href="/lostdogs" class="btn-floating btn-lg btn-arrow mx-1" type="button" role="button">
                <i class="fas fa-location-arrow"> </i>
            </a>
        </li>
    </ul>
</footer>
</div>